<div data-userid="<%= message.user.id %>" class="message message-container-buddy" style="margin: 2px;" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p class="m-0"><%= message.content %></p>
</div>
