<div data-userid="<%= message.user.id %>" class="message message-container-buddy" id="message-<%= message.id %>">
  <i class="author">
    <span><strong><%= message.user.name %></strong></span>
    <small><%= message.created_at.strftime("at %l:%M%p") %></small>
  </i>
  <p class="m-0"><%= message.content %></p>
</div>
