<div class="background-index"></div>

<div class="container bg-transparent" style="position: relative">
  <div class="row">
   
    <div class="col-6 col-md-6 col-lg-6 p-0">
      <div class="container">
        <div class="banner-index"></div>
       
      </div>
    </div>
    <div class="col-6 col-md-6 col-lg-6 d-flex align-items-center p-0">
      <div class="container">
        <h1 class="mb-3" style="font-size: 90px; font-weight: 800;">
          <span style="color: #5D1D91;"><strong>Find a</strong></span>
          <strong style="color: #7E27C4;">friend</strong>
        </h1>        
      </div>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="form" style="margin: 0 auto;">
      <div class="container" style="border-color: black">

          <!-- .filter -->

            <form style="padding: 16px; border-radius: 3px; border: 5px solid #FFA024;" action="/users" method="GET">
              <label for="filter">Filter by</label>
              <select id="filter" name="filter" onchange="this.form.submit()">
                <option value="">Best match</option>
                <option value="gender" <%= "selected" if session[:filter] == "gender" %>>Filter by gender</option>
                <option value="interest" <%= "selected" if session[:filter] == "interest" %>>Filter by interest</option>
              </select>
              <% if session[:filter] == "gender" %>
                <select name="filter_option" onchange="this.form.submit()">
                  <option value="">Pick a gender</option>
                  <% @genders.each do |gender| %>
                    <option value="<%= gender.id %>"><%= gender.name %></option>
                  <% end %>
                </select>
              <% elsif session[:filter] == "interest" %>
                <select name="filter_option" onchange="this.form.submit()">
                  <option value="">Pick an interest</option>
                  <% @interests.each do |interest| %>
                    <option value="<%= interest.id %>"><%= interest.name %></option>
                  <% end %>
                </select>
              <% end %>
            </form>
          <%#= link_to "Clear Filter Options", clear_path %>








      </div><!-- .container -->
    </div>
  </div>

  <div class="container">
    <% @users.each do |user| %>
      <%= render 'shared/gbordercard', user: user %>
    <% end %>    
    <div class="shadow rounded mt-5" id="map"
          style="width: 50%; height: 50vh; margin-left:25%"
          <%# position: absolute; top: 520px; right: -220px; z-index: 1; %>
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>    
  </div>
</div>


