<div class="background-index "></div>

<div class="container d-flex justify-content-center pb-5 profile-load" style="margin-top: 70px;">
  <div class="container-fluid bg-white" style="height:100%; box-shadow: 3px 3px 3px #F2F2F2; border: solid 1px #D9D9D9;">
    <div class="row m-3">
      <%# left column %>
      <div class="card p-5 mt-5 ml-2 bg-transparent rounded text-center" style="border-right: 4px solid rgba(191, 191, 191, 0.2); border-bottom: none; border-top: none; border-left: none;">
      <div>
        <% if @user.photo.attached? %>
        <%= image_tag @user.photo, class: "avatar avatar-large-profile", alt: "avatar", style: 'object-fit: cover;' %>
        <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar avatar-large", alt: "avatar" %>
        <% end %>
        <p class="mt-3">
          <% if @user.age.present? %>
          <strong style="font-size: 24px;"><%= @user.name.capitalize %>,</strong>
          <% else %>
          <strong style="font-size: 24px;"><%= @user.name.capitalize %></strong>
          <% end %>
          <span style="font-size: 20px;"><%= @user.age %></span>
          <span><%= render "shared/flag", language: "#{@native_language}", flag_class: "flag-big mb-2"%></span>
          <p class="pb-3" style="">Here to learn <%= @target_language %>
            <span><%= render "shared/flag", language: "#{@target_language}", flag_class: "flag-small"%></span></p>
          </p>
          <hr class="divider-orange" style="margin: auto;">
          <br>

          <div style="background-color: white" class="mt-2">
            <div>
              <p><i class="far fa-envelope pr-2" style="color: #FFA024;">&nbsp;</i><%= @user.email %> </p>
              <p><i class="fas fa-map-pin pr-2 mb-3" style="color: #FFA024;">&nbsp;</i><%= @user.address %> </p>


                <% if @user != current_user && !current_user.buddies.include?(@user) %>
                  <div>
                    <%=link_to "Add Buddy", user_matches_path(@user, @match), class: "button-orange", method: :post %>
                  </div>
                  <div style="margin-bottom: 35px;"></div>
                  <div>
                    <%=link_to users_path, class: "button-round" do %>
                      <i class="fas fa-arrow-left"></i>
                    <% end %>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# right column %>

      <%# content %>

      <div class="col-7 mt-5 pr-3">
        <div class="card col-md-8 pl-5 pr-5 rounded border-0">
          <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item">
              <% if @user == current_user %>
              <%# the params[:focus] is required to keep the user on the correct tab when chatting %>
              <% if params[:focus] %>
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><strong>MY PROFILE</strong></a>
              <% else %>
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><strong>MY PROFILE</strong></a>
              <% end %>
              <!-- if we're on a potential buddy profile, we don't need to show any tabs -->
            </li>
            <% end %>
            <% if @user == current_user %>
            <li class="nav-item" >
              <%# the params[:focus] is required to keep the user on the correct tab when chatting %>
              <% if params[:focus] %>
                <a class="nav-link active" id="buddies-tab" data-toggle="tab" href="#buddies" role="tab" aria-controls="buddies" aria-selected="true"> <strong>BUDDIES</strong></a>
              <% else %>
                <a class="nav-link" id="buddies-tab" data-toggle="tab" href="#buddies" role="tab" aria-controls="buddies" aria-selected="true"> <strong>BUDDIES</strong></a>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>


        <div class="tab-content">
          <%# the params[:focus] is required to keep the user on the correct tab when chatting %>
          <% if params[:focus] %>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-label="profile-tab">
          <% else %>
            <div class="tab-pane active show fade" id="profile" role="tabpanel" aria-label="profile-tab">
          <% end %>
            <div class="mt-3 ml-5 mb-1">
              <% if @user.description.nil?%>
                <h6 style="color: #7E27C4;">SELF INTRODUCTION</h6>
                <p class="mt-3 mb-0">Tell us more about yourself!&nbsp; &nbsp;<%= link_to "<span><i class='far fa-edit' style='color: #1ED346; font-size: 18px;'></i></span>".html_safe, edit_user_path(@user) %></p>
              <% elsif @user == current_user %>
                <h6 style="color: #7E27C4;">SELF INTRODUCTION&nbsp; &nbsp; <%= link_to "<span><i class='far fa-edit' style='color: #1ED346; font-size: 18px;'></i></span>".html_safe, edit_user_path(@user) %></h6>
                <%= @user.description %>
              <% elsif @user != current_user %>
                <h6 style="color: #7E27C4;">SELF INTRODUCTION&nbsp; &nbsp;</h6>
                <%= @user.description %>
              <% end %>
            </div>
            <br>

            <div class="ml-5 my-3">
              <h6 class="my-4" style="color: #7E27C4;">SPEAKS</h6>
              <span class="purple-box-list"><%= @native_language.capitalize %> <%= render "shared/flag", language: "#{@native_language}", flag_class: "flag-small" %></span>
            </div>
            <br>

            <div class="ml-5 my-4">
              <h6 class="my-4" style="color: #7E27C4;">WANTS TO LEARN</h6>
              <span class="purple-box-list"><%= @target_language %> <%= render "shared/flag", language: "#{@target_language}", flag_class: "flag-small" %> </span>
            </div>
            <br>

            <div class="ml-5">
              <% if @user.description.nil? %>
                <h6 class="mt-3 mb-1" style="color: #7E27C4;">INTERESTS</h6>
                <p class="mt-3">Add your interests and help us to find the ideal buddy for you!&nbsp; &nbsp;<%= link_to "<span><i class='far fa-edit' style='color: #1ED346; font-size: 18px;'></i></span>".html_safe, edit_user_path(@user) %></p>
              <% elsif @user == current_user %>
                <h6 class="mt-3 mb-1" style="color: #7E27C4;">INTERESTS&nbsp; &nbsp;<%= link_to "<span><i class='far fa-edit' style='color: #1ED346; font-size: 18px;'></i></span>".html_safe, edit_user_path(@user) %></h6>
                <%= render 'shared/interests_purple_boxes', interests: @interests %>
              <% elsif @user != current_user %>
                <h6 class="mt-3 mb-1" style="color: #7E27C4;">INTERESTS&nbsp; &nbsp; </h6>
                <%= render 'shared/interests_purple_boxes', interests: @interests %>
              <% end %>
            </div>
            </div>
            <br>

          <%# buddies tab %>
          <%# the params[:focus] is required to keep the user on the correct tab when chatting %>
          <% if params[:focus] %>
            <div class="tab-pane active show fade" id="buddies" role="tabpanel" aria-label="buddies-tab">
          <% else %>
            <div class="tab-pane fade" id="buddies" role="tabpanel" aria-label="buddies-tab">
          <% end %>
            <%# buddies cards and the chat are in this partial folder %>
            <% unless @buddy.nil?  %>
              <div id="remote-video" class="video-styling waiting">
                <h1>Waiting for <%= @buddy.name %> to join...</h1>
                <div id="local-video">
                  <div class="round-hang-up video-button"></div>
                  <div></div>
                </div>
              </div>

            <% end %>
              <%= render 'shared/tab_items', user: @user %>
              <div id="twilio-tokens" data-twilio-tokens="<%= JSON.generate(@video_tokens) %>"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container m-4">&nbsp;</div>
<%= render 'shared/footer' %>
