<div class="container-fluid">
    <div class="row mb-3">
        <%# left column %>
        <div class="col-3 d-flex mt-5 justify-content-center" style="height:765px; border-right: 4px solid rgba(191, 191, 191, 0.2);">
           <div style="position: relative;">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar avatar-large", alt: "avatar" %>
                <p style="text-align: center;" class="mt-3">
                    <strong style="font-size: 24px;"><%= @user.name.capitalize %>,</strong>
                    <span style="font-size: 20px;"><%= @user.age %></span>
                    <span><%= render "shared/flag", language: "#{@native_language}", flag_class: "flag-big"%></span>
                    <p class="pb-3" style="border-bottom: 4px solid rgba(191, 191, 191, 0.2);"><%= @native_language.capitalize %> looking to learn <%= @target_language %></p>
                </p>            
               <div style="background-color: white" class="d-flex justify-content-left">
                    <div>
                        <p> <%= @user.email %> </p>
                        <p> <%= @user.address %> </p>
                    </div> 
                </div>    
             </div>                 
        </div>
        <%# right column %>

        <div class="col-8 mt-5 pr-5">
            <div style="position:relative;" class="mt-3">
                <h6 class="o-2">SELF INTRODUCTION</h6>
                <%= @user.description %>
            </div>
                     
            <div style="position:relative;">
                <h6 class="o-2 my-4">SPEAKS</h6>                                
                <span class="green-bold"><%= @native_language.capitalize %></span> <%= render "shared/flag", language: "#{@native_language}", flag_class: "flag-small" %>              
           </div>

            <div class="my-5" style="position:relative;">
                <h6 class="o-2 my-4">INTERESTS</h6>                
             <%= render 'shared/interests_grey_boxes', interests: @interests %>
            </div>             
         
            <div style="position:relative;">
                <h6 class="o-2 my-4">WANTS TO LEARN</h6>
                <span class="grey-box-list"><%= @target_language %> <%= render "shared/flag", language: "#{@target_language}", flag_class: "flag-small" %> </span>                
           </div>
        </div>     
    </div>
</div>
