<div class="footer style="right: 0; bottom: 0; left: 0; z-index: 1030;">
  <div class="footer-links">
    <%# the icons on the left %>
    <%=link_to "", root_path, class: "fab fa-twitter" %>
    <%=link_to "", root_path, class: "fab fa-linkedin" %>
    <%=link_to "", root_path, class: "fab fa-facebook" %>
    <%=link_to "", root_path, class: "fab fa-youtube" %>
    <%=link_to "", root_path, class: "fab fa-instagram" %>
    <%# the text on the right %>
  </div>
  <div class=" footer footer-text">
    <%= link_to  "Privacy policy", root_path, class: "mr-5" %> 
    <%= link_to  "Jobs", root_path, class: "mr-5"%>
    <%= link_to  "Terms of Service", root_path, class: "mr-0" %>
  </div>
</div>
