<% if user_signed_in? %>
  <%= link_to(user) do %>
  <div class="c-container" style="text-decoration: none;">
    <div class="c-box">
      <% if user.photo.attached? %>
        <%= image_tag user.photo, class: "avatar avatar-large-profile", alt: "avatar", style: 'object-fit: cover;' %>
      <% else %>
      <%= image_tag('https://source.unsplash.com/random/150x150')%>
      <% end %>
      <div class="c-content">
        <div class="c-details">
          <h2><%= user.name %>, <%= user.age %> <!--<%#= current_user.match_percentage(user) %> % --> </h2>
          <h3><%= user.address %></h3>
          <p><strong><%= user.native_language.name %></strong> looking to learn <strong><%= user.target_language.name %></strong></p>
          <br>
          <br>
          <p>[ Level <strong><%= user.target_language_level %></strong> ]</p>
        </div>
        <%= link_to 'Add', user_matches_path(user, @match), class: "add-button", method: :post %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
