<% if user_signed_in? %>
  <div class="navbar navbar-dark navbar-expand-sm navbar-light navbar-lewagon sticky-top">
    <%= link_to "#", class: "navbar-brand" do %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-dark navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <% if current_user.photo.attached? %>
              <%= image_tag current_user.photo, class: "avatar-navbar border border-white mr-2", alt: "avatar", style: 'object-fit: cover;' %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-navbar border border-white mr-2" %>
            <% end %>
          <% end %>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit my profile", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Find a buddy", users_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>