<div class="mt-3 ml-5 mb-3">

  <% if @user.buddies.count == 0 %>
  <p class="mt-3">You don't have any buddies yet!</p>
  <p class="mb-5">Let's fix that!</p>
  <%= link_to "Find a buddy", users_path, class: "button-purple"%>
  <% else %>
  <div data-controller="chat">
    <div class="container pl-0" style="position: relative;" >
      <%# <h6 class="m-0" style="color: #7E27C4; font-size: 20px">YOUR BUDDIES&nbsp; &nbsp;<i class="far fa-hand-point-left" style="color: #7E27C4; font-size: 20px;"></i></h6><br> %>
      <% @user.buddies.each do |user| %>
      <%= render 'shared/buddies_card', user: user, match: user.find_match(@user) %>
      <%# BELOW HERE IS CODE FOR CHAT  %>
      <% end %>
    </div>

    <div class="container-chat ml-5">
      <% match = @user.find_match(@buddy) %>
    <div class= "container-chat-top">
      <div class="chat-top-content  d-flex justifty-space-between">
      <% if @buddy.photo.attached? %>
      <%= image_tag @buddy.photo, class: "avatar avatar-large-profile", alt: "avatar", style: 'object-fit: cover;' %>
      <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar avatar-large", alt: "avatar" %>
      <% end %>
      <p style="font-size: 20px";> <%= @buddy.name %> </p>
      </div>
    </div>
    <br>
    <br>
      <div id="messages" data-currentuser-id= "<%= current_user.id %>" data-chatroom-id="<%= match[0].id %>">
        <% match[0].messages.each do |message| %>
        <%# Current messages %>
        <%= render 'messages/message', message: message %>
        <% end %>
        <%# Chat entry field %>
        <div class="entry-field">
          <%= simple_form_for [ @user, match[0], @message ], remote: false, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
          <%= f.input :content, as: :string, label: false, placeholder: "Type a message..", class: "form-inline" %>
          <%= f.submit 'Send', id: "send-msg", class: "ml-2 button-chat", style: "margin-bottom: 2px", data: { disable_with: false } %>
          <% end %>
        </div>
        <%# ABOVE HERE IS CODE FOR CHAT %>
      </div>
    <% end %>
    </div>
  </div>
</div>
